@charset "UTF-8";

.uploadPageArea {
	font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.titleArea_sel {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#localTitleSel {
    margin-right: 10px;
}

#titleSel {
    margin-right: 10px;
}

.locationArea {
    display: flex;
    justify-content: center;  
}

.textArea {
    display: flex;
    justify-content: center;  
}

.hashText {
    display: flex;
    justify-content: center;  
}

.fileUpload {
    /* border: 1px solid; */
    margin-top: 20px;
    margin-right: -80px;
    display: flex;
    justify-content: center; 
}

/* 하단 버튼 */
.row_btn {
    display: flex;
    justify-content: center;
}

#row_1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#row_2 {
    display: flex;
    justify-content: center;
    /* margin-right: 16%; */
}

#spanBtn {
    width: 300px;
}

/* 취소 */
#row_btn1 {
    width: 70px;
    height: 40px;
    border: 1px solid #636363;
    background-color: #636363;
    color: white;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

/* 다음 */
#row_btn2 {
    width: 70px;
    height: 40px;
    border: 1px solid #4169E1;
    background-color: #4169E1;
    color: white;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

/* < 이전페이지 */
#row_btn3 {
    width: 120px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid #afafaf;
    background-color: #afafaf;
    color: white;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}