* {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.boardDetail {
    width: 1000px;
    margin: auto;
}

.board_top {
    /* border: 1px solid; */
    padding: 30px 30px 0;
    align-items: center;
}

/* ===== 상단 버튼 ===== */
#top_btn_area {
    margin-bottom: 20px;
    padding-left: 15px;
}

/* 목록 버튼 */
#goList {
    width: 60px;
    height: 30px;
    font-size: 13px;
    border: 1px solid #afafaf;
    background-color: #afafaf;
    color: white;
    border-radius: 5px;
    /* font-weight: bold; */
}
#goList:hover {
    color: white;
    border: 1px solid #4169E1;
    background-color: #4169E1;
}

/* 이전글 */
#detail_BeforeBtn {
    width: 60px;
    height: 30px;
    font-size: 13px;
    border: 1px solid #afafaf;
    background-color: #afafaf;
    color: white;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-weight: bold; */
}
#detail_BeforeBtn:hover {
    border: 1px solid #4169E1;
    background-color: #4169E1;
}

/* 다음글 */
#detail_NextBtn {
    width: 60px;
    height: 30px;
    font-size: 13px;
    border: 1px solid #afafaf;
    background-color: #afafaf;
    color: white;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-weight: bold; */

}
#detail_NextBtn:hover {
    border: 1px solid #4169E1;
    background-color: #4169E1;
}

/* ===== Top Board Title ===== */
/* a태그 밑줄제거 */
a{
    text-decoration: none;
    color: #4169E1;
}

/* 타이틀 프사 + 아이디 + 등록날짜 */
.title_Info {
    margin-top: 3px;
    display: flex;
}
.title_userInfo {
    margin-left: 10px;
    flex: 1;
}

/* 타이틀 상단 유저 font */
#title_userNo {
    font-size: 14px;
}
#title_createDate {
    font-size: 12px;
    color: #afafaf;
}

/* 타이틀 조회수 댓글수 좋아요 수 UI */
.viewInfo {
    /* border: 1px solid; */
    display: inline-block;
    text-align: center;
    margin-top: 8px;
}
.boardInfo {
    width: "25px";
}
.boardInfo {
    font-size: 13px;
}
.viewInfo_img {
    width: 20px;
}

/* ===== 글 양식 info ===== */
.board_header {
    padding: 15px 15px 15px;
}

#titleName {
    font-size: 25px;
    font-weight: bold;
}

#userNo {
    border: 1px solid;
    /* padding-left: 70px; */
    margin-left: 60px;
    margin-top: -30px;
}

#boardCreateDate {
    border: 1px solid;
    /* padding-left: 70px; */
    /* margin-left: 60px; */
}

/* 프로필 사진 */
.userProfileBox {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}
.UserImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #4169E1;
}


/* 작성한 글 양식 */
#boardConent {
    padding: 15px 15px 15px;
}

/* ===== 하단 댓글 영역 ===== */
.commentAreaAll {
    margin-bottom: 30px;
}
#comment_area {
    /* border: 1px solid; */
    margin-bottom: 20px;
    margin-top: -10px;
    margin-left: 65px;
    /* padding: 5px 5px 5px; */
}
#co_userNo {
    font-size: 14px;
}
#co_createDate {
    font-size: 12px;
    color: #afafaf;
}

.comment_Info {
    /* border: 1px solid; */
    padding: 15px 15px 15px;
    display: flex;
}

.comment_userInfo {
    /* border: 1px solid; */
    margin-left: 10px;
    flex: 1;
}